<div class="container">
  <h1 data-user-id="<%= @user_id %>">Let's hang some folks</h1>
  <p hidden channel data-channel-id="<%= @channel_id %>"></p>
  <h3 data-def-id="<%= @def_index %>"><%= @word.definitions[@def_index]%></h3>
  <div class="word" data-num="<%= @word.difficulty %>"></div>
  <div class="key-pressed"></div>
  <h4 class="notice">Press Enter when you selected your key!</h4>
  <div class="lives">
    <h4 class="life">❤️</h4>
    <h4 class="life">❤️</h4>
    <h4 class="life">❤️</h4>
    <h4 class="life">❤️</h4>
    <h4 class="life">❤️</h4>
  </div>
</div>
<div class="opponents">

</div>
<% #if @user_id == @channel_id %>
<script>
  document.addEventListener('keyup', (event) => {
    console.log('key pressed')
    const keyPress = event.key.toUpperCase()
    let livesCount = document.querySelectorAll('.life').length
    if (livesCount != 0) {
      if (keyPress == "ENTER") {
        var word = <%= @word.id %>
        var key = document.querySelector('.key-pressed').innerText
        const user_id = document.querySelector('h1').dataset.userId
        const channel_id = document.querySelector('[channel]').dataset.channelId
        fetch(`http://localhost:3000/keystroke?key=${key}&user_id=${user_id}&channel_id=${channel_id}&word_id=${word}`)
      }
    }
  })

</script>
<% #end %>
